.vscode/**
.vscode-test/**
**/*.ts
**/*.map
**/*.tsx
**/*.js.map
**/*.vsix
**/tsconfig.json
**/tslint.json
**/webpack.config.js
**/.eslintrc.json
**/.gitignore
**/.gitattributes
**/.vscode-test.js
**/yarn.lock
**/yarn-error.log
**/node_modules
**/out/test/**
**/test/**
**/.github/**
**/.vscode-test/**
**/src/**/*.test.*
**/src/**/*.spec.*
**/coverage/**
**/.eslintrc.js
**/.eslintignore
**/.prettierrc
**/.prettierignore
**/tsconfig.tsbuildinfo
**/*.vsix

# Include these
!assets/**/*
